.curd{
    display: flex;
    gap: 10px;
    font-size: 40px;
    padding: 20px;
    text-decoration: none;
    
    
}
 .g1 {
    background-color:rgb(102, 102, 229);
    border-radius: 4px;
    
    text-decoration: none;
   
    padding: 2px 2px 2px 2px ;
}

.g2{
    background-color: green;
    border-radius: 4px;
  
    padding: 2px 2px 2px 2px ;
} 
.l-container{
    color: white;
    text-decoration: none ;
}
.l-container:hover{
    color:cornsilk
}
.l2{
    background-color: pink;
    font-size: x-large;
}
.l1{
    padding: 100px;
}